body {
    background-color: #0E2246;
    color: #0E2246;   
    font-family: 'Calibri';
}

h1 {
    color: whitesmoke;
    border-radius: 20px;
    border-color: #0E2246;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
    color: gray;
}


.container {
    text-align: center;
    width: 50%;
    margin: 5px;
    padding: 15px;
    background-color: #97C2DC;
    border-radius: 25px;
}

button {
    padding: 10px;
    border-radius: 10px;
}

input {
    padding: 5px;
    width: 50%;
    border-radius: 5px;
}