body {
    background-color: #0E2246;
    color: #0E2246;   
}

h1 {
    color: whitesmoke;
}
h2 {
    color: lightgrey;
}


.container {
    padding: 25%;
    background-color: #97C2DC;
    border-radius: 25px;
}

button {
    padding: 10px;
    border-radius: 10px;
}

input {
    padding: 5px;
    width: 50%;

}